def get_base64_of_bin_file(bin_file):
    with open(bin_file, 'rb') as f:
        data = f.read()
    return base64.b64encode(data).decode()

def set_png_as_page_bg(png_file):
    bin_str = get_base64_of_bin_file(png_file)
    page_bg_img = f"""
    <style>
    .stApp {{
        background-image: url("data:image/png;base64,{bin_str}");
        background-size: cover;
    }}
    </style>
    """
    st.markdown(page_bg_img, unsafe_allow_html=True)

# Call the function with your image file name
set_png_as_page_bg('Battleship Image.jpg') 

st.markdown("""
<style>
h1 {
    background-color: #FFFFFF; /* Your desired background color */
    color: white; /* Optional: change text color for better contrast */
    padding: 10px; /* Optional: add some padding around the text */
    border-radius: 5px; /* Optional round the corners */
    #opacity: 0.8;
}
</style>
""", unsafe_allow_html=True)